* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.wrapper {
  margin: 10px;
  display: grid;
  grid-template-columns: 350px auto 350px;
  grid-template-rows: repeat(3, 100px);
  gap: 1em;
  grid-template-areas:
    "todos calendar rewards"
    "todos calendar rewards"
    "todos calendar rewards";
}

.todos {
  grid-area: todos;
}
.rewards {
  grid-area: rewards;
}
.calendar {
  grid-area: calendar;
}
